{% extends "base.html" %}

{% load static %}
{% block head %}
<title>장소 POST</title>
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock head %}

{% block content %}
<div class="main border">
    <h3 class="heading"><a href="{% url 'index' %}">My Place Record</a></h3>
    <div class="container">
        <div class="place border flex">
            <div class="nav border flex">
                <span class="count"><span class="num">{{posts | length}}</span>spots</span>
                <ul class="menu">
                    <li>{{category.name}}</a></li>
                </ul>
                <a href="{% url 'place:post-add' category.pk %}" class="btn-add">{{category.name}}추가</a>
            </div>
            <div class="post border">내용
                <ul>
                    {% for post in posts %}
                    <li>
                        {{post.name}}<br>
                        {{post.location}}<br>
                        {{post.stars}}
                    
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="user border flex">
            <div class="profile border flex">
                
            </div>
            <div class="follow border">팔로우</div>
        </div>
    </div>
</div>
{% endblock content %}